<link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

<header class="nav-box">
  <nav class=" elements-in-nav navbar navbar-expand-md navbar-dark bg-dark" >
    <a class="navbar-header navbar-brand" href="/">Story Creator</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      </div>
    </div>
<% if (user_id === undefined) { %>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/api/login">Login</a>
    <a class="nav-item nav-link" href="/register">Register</a>
  </div>
    <% } else { %>
      <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
      <% } %>
  </nav>
</header>
