body {
  background: url('https://images.wallpaperscraft.com/image/single/library_window_building_117186_1920x1080.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html {
  background-color: black ;

}
#new-story-form {
  padding-right: 30px;
  padding-left: 30px ;
}
.posted-stories {
  padding-right: 30px;
  padding-left: 30px ;
}
#posted-stories-container {
  padding-right: 30px;
  padding-left: 30px ;
}
